@import url('https://fonts.googleapis.com/css?family=Hind|Oswald');

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background-color: rgba(250, 250, 250, 1);
  overflow-y:scroll;
}

.health-google-maps {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.input-container .ControlLabel {
  color: black;
}

.input-container .panel {
  margin-bottom: 0;
}


.home-widget-container {
  margin: auto;
}

.data-content-container .input-group {
  margin-top: 10px;
}

.data-content-container .form-control {
  margin: 0px;
}

.input-container .single-col {
  display: flex;
}

.data-content-container .pagination {
  margin-top: 0px;
  margin-right: 2px;
}

.data-content-container .data-sort-by{
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
.data-content-container .results-row{
  margin-bottom: 10px;
}

.data-content-container .results-row .form-group{
  margin-top: auto;
  margin-bottom: auto;
}

/* categories text bigger */
.data-container .panel-heading a{
  font-size: 24px;
}


/* vert center text on top bar*/
.data-content-container .results-row p{
  margin-top: auto;
  margin-bottom: auto;
}

/* change tag X link color */
.data-content-container .results-row .categories-x{
  background-color: black;
}

/* change tag X link color */
.data-content-container .results-row a{
  color: white;
  text-decoration: none;
}

/* change mobile nav bar */
.data-container .filter-row .navbar {
    margin-bottom: 0px;
    background-color: #337ab7;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: #22527b;
}

/* change mobile nav bar text color */
.data-container .filter-row .navbar .nav{
   margin-bottom: 0px;
   margin-top: 0px;
}

/* change mobile nav bar text color */
.data-container .filter-row .navbar a{
   color: white;
}

/* change mobile nav bar text color */
.data-container .filter-row .navbar-toggle{
   background-color: rgba(0, 0, 0, 0.33);
}

/* change mobile nav bar text color */
.data-container .filter-row .navbar .dropdown-menu a{
   color: white;
}

/* change mobile nav bar */
.data-container .filter-row .dropdown #basic-nav-dropdown{
   background-color: rgba(0, 0, 0, 0.33);
}

/* change mobile nav bar */
.data-container .filter-row .dropdown .dropdown-menu{
   background-color: rgba(0, 0, 0, 0.2);
}

/* change mobile nav bar */
.data-container .filter-row .dropdown .dropdown-menu li a{
   color: white;
}
/* change mobile nav bar hover */
.data-container .filter-row .dropdown .dropdown-menu li:hover{
   background-color: rgba(0, 0, 0, 0.1);
}
/* change mobile nav bar active */
.data-container .filter-row .dropdown .dropdown-menu .active a {
   background-color: rgba(0, 0, 0, 0.1);
}

/* move sort bar to right */
.data-content-container .data-sort-by p{
  margin-left: auto;
  margin-right: 2px;
}

/* make results + tags sideways */
.data-content-container .results-col{
  margin-top: auto;
  margin-bottom: auto;
  display: inline-flex;
}

/* data panel title css */
.data-content-container .data-row-right .panel-heading a, .data-content-container .data-row-right .panel-heading a:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    color: white;
}

/* data panel top panel padding smaller */
.data-content-container .panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
}

.data-content-container .panel-body{
  padding: 10px;
  padding-top: 5px;
}

.data-content-container .panel-body p{
  margin-bottom: 0px;
}

.data-content-container .updated-date{
  font-style: italic;
  text-align: right;
  margin-bottom: 0px;
}

/* panel header */
.data-content-container .data-header a{
  text-decoration: none;
  text-decoration-line: none;
}
/* panel header hover*/
.data-content-container .data-header:hover a{
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}



.data-content-container{
  margin-right: 10px;
  margin-left: 10px;
}

.data-content-container hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-categories-list {
  margin-top: 10px;
  color: white;
}

.home-category-list-item {
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  border-width: 2px;
  border-color: lightblue;
  background-color: #337AB7;
}

.list-group-item.home-category-list-item:hover {
  background-color: darkblue;
}

.list-group-item.home-category-list-item:focus:not(:hover) {
  outline: none;
  background-color: #337AB7;
}

.list-group-item.home-tag-list-item {
  font-weight: normal;
}

.list-group-item.home-tag-list-item:focus {
  outline: none;
  font-weight: bold;
}

.home-row {
  margin-top: 10px;
  margin-right: 5px;
  height: 600px;
}

.home-map-col {
  border-style: groove;
  border-width: 4px;
  border-color: #999999
}

.home-search-col {
  margin-left: 10px;
}

.input-container hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-container .single-col-btns{
  margin-right: 10;
  margin-left: auto;
}
.input-container .single-col .btn{
  margin-right: 10px;
}

.input-container .add-col-btn
{
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.input-container .btn-file {
  position: relative;
  overflow: hidden;
}

.input-container .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* upload csv button */
.input-container .upload-csv-button {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* upload csv button */
.input-container .delet-row-btn {
  position: absolute;
  right: 0;
}

/* input bottom buttons */
.input-container .input-page-buttons{
  margin-top: 15px;
  margin-bottom: 15px;
}

/* input save button */
.input-container .reset-data-btn{
  margin-right: 5px;
}

.google-login-button .google-top p {
  font-size: 14px;
  color: white;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.google-login-button .google-top {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-container {
  width: 100%;
  border: none;
  /*border-bottom: solid; */
  height: 100px;
  background-color: #337ab7;
  display: flex;
  position: relative;
}


.nav-boottabs {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: auto;
}

.nav-tabs li, .nav-tabs li a {
    text-decoration: none; /* Add this */
}



.nav-container h1 {
  color: white;
  margin-left: 10px;
  margin-right: auto;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  bottom: 0px;
}

.bottom-container {
  background-color: #337ab7;
  color: white;
  display: flex;
  height: 120px;
}

.bottom-container .right-bottom{
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.bottom-container .left-bottom{
  position: absolute;
  left: 10px;
  margin-top: 10px;
}

.bottom-container img{
  height: 70px;
}

.data-page-container {
  margin-bottom: 10px;
}

.data-page-container .data-header .label {
  font-size: 20px;
}

.data-page-container .updated-date {
  margin-bottom: 5px;
}

.nav-container .nav-tabs {
  border: none;
}

.nav-container .nav-tabs>li.active>a, .nav-container .nav-tabs>li.active>a:hover {
  background-color: #fafafa;
  color: #0f0f0f;
}

.nav-container .nav-tabs li a{
  background-color: rgba(250, 250, 250, 0.9);
  color: #1f78c3;
}

.nav-container .nav-tabs li a:hover{
  border-bottom: none;
  color: #4c4c4c;
}

.google-login-button .google-login-btn {
  padding: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.long-space {
  height: 100vh;
}

.Tab {
  border-bottom:0px
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}
