
@media (max-width: 480px) {
  .data-container .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .data-container .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .data-container hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .data-container .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .data-container .panel-primary {
    margin-bottom: 5px;
  }

  .data-container .data-tabs {
    padding-right: 0px;
  }

  .nav-container h1{
  width: 30%;
  font-size: 25px;
  text-align: center;
  }

  .bottom-container img{
    height: 50px;
  }

  .bottom-container {
    height: 100px;
  }

  .bottom-container .right-bottom{
    position: absolute;
    right: 5px;
    margin-top: 5px;
  }

  .bottom-container .left-bottom{
    position: absolute;
    left: 5px;
    margin-top: 5px;
  }

}
