
@media (max-width: 480px) {
  .data-container .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .data-container .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .data-container hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .data-container .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .data-container .panel-primary {
    margin-bottom: 5px;
  }

  .data-container .data-tabs {
    padding-right: 0px;
  }

}
